.unauthorized-container {
    padding: 30px;
    text-align: center;
  }
  
  .unauthorized-title {
    font-size: 28px;
    margin-bottom: 10px;
  }
  
  .unauthorized-message {
    font-size: 18px;
    color: #666;
  }
  